<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hemoglobe</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/resultone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo"> HEMOGLOBE</div>
            <div class="nav-section">
                <div class="list">
                    <ul>
                        <li>
                            <a href="/home">HOME</a>
                        </li>
                        <li>
                            <a href="#">HEALTH CARE</a>
                        </li>
                        <li>
                            <a href="/donate"> DONATE BLOOD</a>
                        </li>
                        <li>
                            <a href="/api/blood/view"> RESULTS </a>
                        </li>
                        <li>
                            <a href=""> ABOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- /////////////////////////////// -->

        <!-- <div class="image">

            <img src="/public/images/add.webp" alt="">

        </div> -->

        <div class="body">
            <a href="/api/blood/view">
                <H2>RESULTS</H2>
            </a>
            <table>
                <tr>
                    <th rowspan="2"><a href="/api/blood/view"><img src="/upload/<%= data.image %>" alt="</>"></a>
                    </th>
                    <TH>FULL NAME </TH>
                    <TH>BLOOD GROUP</TH>
                    <TH>GENDER</TH>
                    <TH>DATE OF BIRTH</TH>
                    <TH>PHONE NUMBER</TH>
                    <TH>ADDRESS</TH>
                    <th></th>
                </tr>

                <tr>
                    <td>
                        <%= data.full_name %>
                    </td>
                    <td style="color: rgb(173, 35, 35); font-weight: 700;font-size: 14px;">
                        <%= data.blood_group %>
                    </td>
                    <td>
                        <%= data.gender %>
                    </td>
                    <td>
                        <%= data.date_of_birth %>
                    </td>
                    <td>
                        <%= data.phone_number %>
                    </td>
                    <td>
                        <%= data.address %>
                    </td>
                    <td><a href="/api/blood/list/<%= data._id %>"> <i class="icon fa fa-edit" id="edit"></i></a>
                        <a href="/api/blood/delete/<%= data._id %>"><i class="icon fa fa-trash" id="delete"></i></a>
                    </td>

                </tr>

            </table>

        </div>


    </div>


    <div class="footer">
        <p>Follow us</p>
        <i class="fa fa-instagram"></i> <i class="fa fa-twitter"></i>
        <i class="fa fa-youtube"></i> <i class="fa fa-facebook"></i>
        <i class="fa fa-tiktok"></i><i class="fa fa-linkedin"></i>
    </div>

</body>

</html>